artifacts/*
*.deb
*.rpm
trinitycore-cache/*
wowdata/*
Data/*
data/*
World of Warcraft/*
*.7z
.networks
docker/authserver/authserver
docker/worldserver/worldserver
docker/worldserver/data/*
docker/tools/mapextractor
docker/tools/mmaps_generator
docker/tools/vmap4assembler
docker/tools/vmap4extractor
