artifacts/*
trinitycore-cache/*
wowdata/*
Data/*
World of Warcraft/*
*.7z
docker/authserver/authserver*
docker/worldserver/worldserver*
docker/tools/mapextractor
docker/tools/mmaps_generator
docker/tools/vmap4assembler
docker/tools/vmap4extractor
