[Unit]
Description=authserver

[Service]
ExecStart=/opt/trinitycore/bin/authserver
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=trinity
User=trinity
Group=trinity

[Install]
WantedBy=multi-user.target
